---
import type { SelectProperty } from '../lib/interfaces'
import { getTagLink } from '../lib/blog-helpers'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
  currentTag: string
}

const { tags, currentTag } = Astro.props
---

<div>
  {tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul class="tagList">
        {tags.map((tag: SelectProperty) => (
          <li
            class={`${
              currentTag === tag.name ? '__current' : ''
            } tagItem`}
          >
            <a href={getTagLink(tag.name)}>{tag.name}</a>
          </li>
        ))}
      </ul>
    )}
</div>

<style lang="scss">
  .tagList{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin: 24px 0 0;
    padding: 0;
  }
</style>
