---
import type { Post, SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import '../styles/notion-color.css'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="tagList">
  {post.Tags &&
    post.Tags.length > 0 &&
    post.Tags.map((tag: SelectProperty) => (
      <a href={getTagLink(tag.name)} class="tagItem">
        {tag.name}
      </a>
    ))}
</div>

<style lang="scss">
  .tagList{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding: 0;
  }
  .tagItem{
    padding: 4px 8px;
    font-size: 0.9375rem;
    line-height: 1.2;
    letter-spacing: -0.01em;
    border: 1px #000 solid;
    border-radius: 100px;
    a{
      color: #000;
    }
  }
</style>
