---
import { Post } from '../lib/interfaces'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="post-author">
  <p>{post.Author ? post.Author : ''}</p>
</div>

<style>
  .post-author {
    padding: 0.4rem 0;
    font-size: 1rem;
  }
</style>
